<head>
  {% comment %} Document Settings {% endcomment %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% comment %} Page Meta {% endcomment %}
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="viewport" content="width=device-width initial-scale=1">
  <link rel="shortcut icon" href="{{ asset "favicon.ico" }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <script type="text/javascript" src="{{ '/assets/javascripts/jquery-2.1.4.min.js' | prepend: site.baseurl }}"></script>
  


  <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ '/assets/javascripts/html5shiv.min.js' | prepend: site.baseurl }}"></script>
  <![endif]-->
</head>
